.md-typeset .admonition,
.md-typeset details {
  border-radius: 10px; /* Adjust to your preferred roundness */
  max-width: 800px;      /* Set to your preferred width */
  
}

a.back-button.md-button {
  position: fixed;
  top: 5rem;
  left: 1rem;
  z-index: 9999;
  background: transparent;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  text-decoration: none;
}

a.back-button.md-button:focus,
a.back-button.md-button:active {
  outline: none !important;
  box-shadow: none !important;
}

a.back-button.md-button:hover {
  background: transparent !important;
  color: inherit; /* Optional: keep text color unchanged */
  box-shadow: none !important;
}

.admonition-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.admonition-container .admonition {
  flex: 1;
  min-width: 300px; /* Optional: Controls how small each can shrink */
}

.custom-inline-nav {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.custom-inline-nav a {
  text-decoration: none;
  color: var(--md-primary-fg-color); /* uses your theme’s primary link color */
  margin: 0 0.5rem;
}

.custom-inline-nav a:hover {
  text-decoration: underline;
}

.md-typeset .tabbed-set {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
}

:root {
  --md-admonition-icon--learn: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M.301 17.615c-.13-.34-.522-1.512-.133-2.432l9.827 5.674a.33.33 0 0 0 .33 0L24 12.962v2.354l-13.84 7.99zm-.11-8.652c-.288.877.015 2.058.124 2.426l9.845 5.684L24 9.083V6.727l-13.675 7.895a.33.33 0 0 1-.33 0zm13.17-1.936a.332.332 0 0 1-.485-.207l-.28-1.133-2.126-.176a.33.33 0 0 1-.138-.614l5.578-3.22-1.702-.983-13.51 7.8 9.462 5.462 13.51-7.8-4.4-2.54zm-.182-1.729.232.938 5.198-3.001-2.04-1.178-4.993 2.884 1.31.108a.33.33 0 0 1 .293.25M24 9.845 10.325 17.74a.33.33 0 0 1-.33 0L.168 12.067c-.39.919.003 2.091.133 2.43l9.859 5.693L24 12.2z"/></svg>')
}
/* Blue Admonition Theme */
.md-typeset .blue,
.md-typeset details.blue {
  border-color: rgb(65, 105, 225);
}
.md-typeset .blue > .admonition-title,
.md-typeset .blue > summary {
  background-color: rgba(0, 0, 205, 0.1);
}
.md-typeset .blue > .admonition-title::before,
.md-typeset .blue > summary::before {
  background-color: rgb(30, 144, 255);
  -webkit-mask-image: var(--md-admonition-icon--learn);
          mask-image: var(--md-admonition-icon--learn);
}


.md-sidebar--secondary {
  display: block !important;      /* Forces the sidebar to display */
  visibility: hidden;             /* Hides content but keeps space */
  width: 10rem;                   /* Same width as normal ToC */
}